body {
    background-color: lightgray;
}

.form_scrollable-checkboxes {
    height: 10rem;
    width: 400px;
    overflow: scroll;
    background-color: white;
}

.d-none {
    display: none;
}

.mb-3 {
    border: none;
}
