@import "./custom.scss";

body {
    background-color: $primary;
    color: $secondary;
}

a {
    text-decoration: none;
    color: $secondary;
}

.form_scrollable-checkboxes {   
    height: 10rem;
    width: 400px;
    overflow: scroll;
    background-color: white;
}

.d-none {
    display: none;
}

.mb-3 {
    border: none;
}

.bonjour {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}